@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

$color-bg: rgb(58, 114, 189);
$color-bg2: rgb(23, 50, 109);

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  animation: bg 8s ease-in infinite;
}

p {
  color: #fff;
  font-size: 160px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  margin: 0;
  position: relative;
  top: -4vh;
  z-index: 3;
}

img:nth-of-type(1) {
  width: 180px;
  opacity: 0.9;
  position: relative;
  top: -2vh;
  z-index: 3;
  animation: rotateY 2s 1.5s ease-in-out;
}

img:nth-of-type(2) {
  height: 140vh;
  opacity: 0.06;
  position: absolute;
  z-index: 2;
  transform: rotate3d(0, 10, 30, -10deg);
}

@media all and (max-width: 1024px) {
  p {
     font-size: 18vw;
  }

  img:nth-of-type(1) {
    width: 20vw;
  }
  img:nth-of-type(2) {
    height: 140vh;
  }
}

@keyframes rotateY {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes bg {
  0% {
    background: $color-bg2;
  }
  50% {
    background: $color-bg;
  }
  100% {
    background: $color-bg2;
  }
}
